
@{
    ViewBag.Title = "ClientPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Products</h5>
                </div>
                <!-- Additional info -->
                <div class="align-items-center ml-4 d-inline-flex">
                    <span class="h4 text-info mb-0 mr-2">9</span>
                    <span class="text-sm opacity-7 text-white">New products</span>
                </div>
                <!-- Optional link -->
                <a href="card-listing.html" class="text-sm text-info d-none d-lg-inline-block ml-4">
                    See
                    cards
                </a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="actions actions-dark d-inline-block">
                    <a href="#" class="action-item ml-md-4">
                        <i class="far fa-file-export mr-2"></i>Export
                    </a>
                    <a href="#" class="action-item ml-3">
                        <i class="far fa-cog mr-2"></i>Settings
                    </a>
                </div>
                <a href="#" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
                    <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Listing -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header actions-toolbar border-0">
            <div class="actions-search" id="actions-search">
                <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent"><i class="far fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-flush"
                           placeholder="Type and hit enter ...">
                    <div class="input-group-append">
                        <a href="#" class="input-group-text bg-transparent" data-action="search-close"
                           data-target="#actions-search"><i class="far fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Products</h6>
                </div>
                <div class="col text-right">
                    <div class="actions">
                        <a href="#" class="action-item mr-3" data-action="search-open"
                           data-target="#actions-search"><i class="far fa-search"></i></a>
                        <div class="dropdown mr-3">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-filter"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-amount-down"></i>Newest
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-alpha-down"></i>From A-Z
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-alpha-up"></i>From Z-A
                                </a>
                            </div>
                        </div>
                        <div class="dropdown" data-toggle="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Refresh</a>
                                <a href="#" class="dropdown-item">Manage Widgets</a>
                                <a href="#" class="dropdown-item">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table id="tblClient" class="table align-items-center">
                <thead>
                    <tr>
                        <th scope="col">User Name</th>
                        <th scope="col">Email Address</th>
                        <th scope="col">Phone Number</th>
                        <th scope="col">User Id</th>
                        <th>Action</th>
                        
                    </tr>
                </thead>
                <tbody class="list">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Load more -->
    <div class="mt-4 text-center">
        <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">
            Load more
            ...
        </a>
    </div>
</div>


@using (Html.BeginForm("BulkPostUpload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div id="uploadPostBulk" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mt-0" id="uploadPostBulkLabel">Upload Bulk Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="hdnId" name="hdnId" value="0" />
                    <div class="row">
                        <div class="col-10 mx-auto">
                            <div class="text-right">

                                <a href="~/Masters/PostUploadFormat.csv" class="btn btn-dark btn-sm" download>
                                    <i class="mdi mdi-download"></i> Download PostUpload format
                                </a>
                            </div>

                            <div class="fileuploader fileuploader-theme-dragdrop">

                                <input type="file" name="PostCSVFile" id="fileUploadPost" accept=".csv" />

                                <div class="mt-2">

                                    <i class="fa fa-upload fa-sm btn btn-success btn-block" onclick="csvFilePostUpload();">
                                        <span>Upload Post</span>
                                    </i>
                                    <button id="uploadPostFiles" class="btn btn-primary btn-sm mx-1 hide">Upload File</button>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
}
<script>
    function csvFilePostUpload() {

        var rowCount = 0;
        var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.csv|.txt)$/;
        if (regex.test($("#fileUploadPost").val().toLowerCase())) {

            if (typeof (FileReader) != "undefined") {
                var reader = new FileReader();
                reader.onload = function (e) {

                    var rows = e.target.result.split('\r\n');

                    for (var i = 0; i < rows.length; i++) {

                        var cells = rows[i].split(",");
                        var RRC = rowCount + 1;
                        if (i == 0) {


                            // Heater validation
                            if (cells.length == 5) {



                                if (cells[0] != "FacebookPost") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check column name mismatch (FacebookPost).");
                                    return false;
                                }
                                if (cells[1] != "PageName") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check column name mismatch (PageName).");
                                    return false;
                                }
                                if (cells[2] != "Message") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check column name mismatch (Message).");
                                    return false;
                                }
                                if (cells[3] != "ImageUrl") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check column name mismatch (ImageUrl).");
                                    return false;
                                }
                                if (cells[4] != "ScheduledTime") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check column name mismatch (ScheduledTime).");
                                    return false;
                                }
                            }
                            else {
                                $('#fileUploadPost').val('');
                                alert("Upload Csv file invalid template , Please check .");
                                return false;
                            }

                        } else {
                            if (cells.length == 5) {
                                if (cells[0] == "") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " FacebookPost is empty");
                                    return false;
                                }
                                if (cells[1] == "") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " PageName is empty");
                                    return false;
                                }

                                if (cells[2] == "") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " Message  is empty");
                                    return false;
                                }
                                if (cells[3] == "") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " ImageUrl  is empty");
                                    return false;
                                }
                                if (cells[4] == "") {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " ScheduledTime  is empty");
                                    return false;
                                }


                            }
                            else {

                                if (cells.length > 1) {
                                    $('#fileUploadPost').val('');
                                    alert("Please check Row NO : " + RRC + " This row have comma simple or invalied Column length");
                                    return false;
                                }
                            }

                        }

                        rowCount += 1;

                    }

                    if (rowCount == rows.length) {
                        $("#hdnMsgStatus").val('Y');

                        $("#uploadPostFiles").click();

                    }

                }
                reader.readAsText($("#fileUploadPost")[0].files[0]);
            } else {
                $('#fileUploadPost').val('');
                alert("This browser does not support HTML5.");
                return false;
            }
        } else {
            $('#fileUploadPost').val('');
            alert("Please upload a valid CSV file.");
            return false;
        }
    }
    $(document).ready(function () {
        GetClient();

    });
    function SetId(id) {
        $('#hdnId').val(id);

    }
    function GetClient() {
        var param = { ClientName: $('#txtClientName').val(), StoreUrl: $('#txtStoreUrl').val(), City: $('#txtClientCity').val() };
        $("#tblClient").find("tr:not(:first)").remove();

        $.ajax({

            type: "GET",
            url: "https://localhost:44396/api/admin/getClientsAdminDashBoard",
            //  url: "https://social.alldealz.ca/api/admin/getClientsAdminDashBoard",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (Result) {
                if (Result.data.length > 0) {
                    var i = 0;
                    $.each(Result.data, function (key, value) {
                        i++;
                        var hdnID = "hdnobjJSonVal_" + i;
                        var hdId = i;
                        var JVal = JSON.stringify(value);

                        $('#tblClient').append('<tr> <td>' + value.userName + '</td><td>' + value.emailAddress + '</td><td>' + value.phoneNumber + '</td><td>' + value.userId + '</td><td class="text-right"><div class="actions ml-3">  <a href="#" class="action-item mr-2" data-toggle="tooltip" title="Quick view"> <i class="far fa-external-link-alt"></i></a></td><td class="d-none"><button class="btn btn-primary-login" type="button" data-toggle="modal" onclick=SetId(' + "'" + value.userId + "'" + ') data-target="#uploadPostBulk"><i class="mdi mdi-cloud-upload"></i></button></td><td class="text-center"><input type="hidden" id=' + hdnID + ' value=' + "'" + JVal + "'" + '></td></tr>');

                        //emailAddress: "sathish@gmail.com"
                        //fbConnected: false
                        //instaConnected: false
                        //phoneNumber: "897545454"
                        //profileImage: "https://localhost:5001/api/files?file=01800bdd-d8f7-4534-a4d4-33971734cf69Logo (2).jpeg"
                        //userId: "19da8d70-643c-4aae-a2bb-c6f2ad82d8d9"
                        //userName: "kumarsati"
                    })
                }
                else {
                    $('#tblClient').append('<tr> <td colspan="14" aligen="center" > No Records found </td></tr>');
                }

            },
            error: function () {

            }
        })
    }
</script>
