
@{
    ViewBag.Title = "Deals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-content">
    <!-- Page title -->
    <div class="page-title">
        <div class="row justify-content-between align-items-center">
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-start mb-3 mb-md-0">
                <!-- Page title + Go Back button -->
                <div class="d-inline-block">
                    <h5 class="h4 d-inline-block font-weight-400 mb-0 text-white">Deals</h5>
                </div>
                <!-- Additional info -->
                <div class="align-items-center ml-4 d-inline-flex">
                    <span class="h4 text-info mb-0 mr-2">9</span>
                    <span class="text-sm opacity-7 text-white">New products</span>
                </div>
                <!-- Optional link -->
                <a href="card-listing.html" class="text-sm text-info d-none d-lg-inline-block ml-4">
                    See
                    cards
                </a>
            </div>
            <div class="col-md-6 d-flex align-items-center justify-content-between justify-content-md-end">
                <div class="actions actions-dark d-inline-block">
                    <a href="#" class="action-item ml-md-4">
                        <i class="far fa-file-export mr-2"></i>Export
                    </a>
                    <a href="#" class="action-item ml-3">
                        <i class="far fa-cog mr-2"></i>Settings
                    </a>
                </div>
                <a href="#" class="btn btn-sm btn-white btn-icon-only rounded-circle ml-4">
                    <span class="btn-inner--icon"><i class="far fa-plus"></i></span>
                </a>
            </div>
        </div>
    </div>
    <!-- Listing -->
    <div class="card">
        <!-- Card header -->
        <div class="card-header actions-toolbar border-0">
            <div class="actions-search" id="actions-search">
                <div class="input-group input-group-merge input-group-flush">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-transparent"><i class="far fa-search"></i></span>
                    </div>
                    <input type="text" class="form-control form-control-flush"
                           placeholder="Type and hit enter ...">
                    <div class="input-group-append">
                        <a href="#" class="input-group-text bg-transparent" data-action="search-close"
                           data-target="#actions-search"><i class="far fa-times"></i></a>
                    </div>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <h6 class="d-inline-block mb-0">Products</h6>
                </div>
                <div class="col text-right">
                    <div class="actions">
                        <a href="#" class="action-item mr-3" data-action="search-open"
                           data-target="#actions-search"><i class="far fa-search"></i></a>
                        <div class="dropdown mr-3">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-filter"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-amount-down"></i>Newest
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-alpha-down"></i>From A-Z
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="far fa-sort-alpha-up"></i>From Z-A
                                </a>
                            </div>
                        </div>
                        <div class="dropdown" data-toggle="dropdown">
                            <a href="#" class="action-item" role="button" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <i class="far fa-ellipsis-h"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item">Refresh</a>
                                <a href="#" class="dropdown-item">Manage Widgets</a>
                                <a href="#" class="dropdown-item">Settings</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Table -->
        <div class="table-responsive">
            <table id="tblClient" class="table align-items-center">
                <thead>
                    <tr>
                        <th>StoreName</th>
                        <th>Deal Name</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody class="list">
                </tbody>
            </table>
        </div>
    </div>
    <!-- Load more -->
    <div class="mt-4 text-center">
        <a href="#" class="btn btn-sm btn-neutral rounded-pill shadow hover-translate-y-n3">
            Load more
            ...
        </a>
    </div>
</div>
<script>
    //FlyerPreview
    $(document).ready(function () {
        GetPost();

    });
    function SetId(id) {
        $('#hdnId').val(id);

    }
    function getPreview(id) {
        if (id > 0) {

            //window.open(
            //    'https://localhost:44337/Deals/PreviewFlyer/' + id + '',
            //    '_blank' // <- This is what makes it open in a new window.
            //); 
            //var getUrl = 'http://localhost:54239/Deals/FlyerPreview/' + id;
            window.location.href = "/Deals/PreviewFlyer/" + id + "";
        }
        else {
            alert('Error while Preview!');
        }
    }

    function GetPost() {

        $.ajax({

            type: "GET",

            url: "/Home/GetDeals",
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
            success: function (data) {
                if (data.Result.length > 0) {
                    var i = 0;
                    $.each(data.Result, function (key, value) {
                        i++;
                        var hdnID = "hdnobjJSonVal_" + i;
                        var hdId = i;
                        var JVal = JSON.stringify(value);
                        $('#tblClient').append('<tr> <td><a href="javascript:getPreview(' + value.Id + ');">' + value.StoreName + '</a></td><td>' + value.Domain + '</td><td>' + value.Status + '</td></tr>');
                    })
                }
                else {
                    $('#tblClient').append('<tr> <td colspan="14" aligen="center" > No Records found </td></tr>');
                }

            },
            error: function () {

            }
        })
    }
   
</script>

